body {
  color: #434455;
  background: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

/* Header */

header {
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #4d5ae5;
}

address {
  font-style: normal;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.adr-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adr-link:hover,
.adr-link:focus {
  color: #404bbf;
}

/* Hero */

.hero-section {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Advantages  */

.adv-card {
  width: 264px;
}

/* Team */

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  width: 264px;
  height: 380px;
  align-items: center;
  background: #fff;
}

.team-foto {
  width: 264px;
  height: 260px;
}

.team-text {
  text-align: center;
  color: #434455;
  font-style: normal;
}

/* Portfolio */

.portfolio {
  background-color: #fff;
}

.portfolio-card {
  width: 360px;
  height: 420px;
}

.portfolio-foto {
  width: 360px;
  height: 300px;
}

.foto-header {
  color: #2e2f42;
  text-align: left;
}

/* Footer */
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  height: 72px;
}
